<!DOCTYPE html>
<html>
  <head>
    <title>Metasearch</title>
    <% if (metasearch.TRACKING_ID) { %>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= metasearch.TRACKING_ID %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "<%= metasearch.TRACKING_ID %>");
    </script>
    <% } %>
    <link href="/theme/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link rel="stylesheet" type="text/css" href="/theme/theme.css" />
    <script src="/mark.min.js" type="text/javascript"></script>
    <script src="/react.production.min.js" type="text/javascript"></script>
    <script src="/react-dom.production.min.js" type="text/javascript"></script>
    <script src="/timeago.min.js" type="text/javascript"></script>
  </head>
  <body>
    <span style="opacity: 0; font-weight: bold; position: absolute">.</span>
    <div id="root"></div>
    <script type="text/javascript">
      window.metasearch = <%- JSON.stringify(metasearch) %>;
    </script>
    <script src="/ui.js" type="text/javascript"></script>
  </body>
</html>
