<!DOCTYPE html>
<html>
  <head>
    <title>Metasearch</title>
    <link href="/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles.css?v=<%= v %>" />
    <script src="/react.production.min.js" type="text/javascript"></script>
    <script src="/react-dom.production.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript">
      window.metasearch = <%- metasearch %>;
    </script>
    <script src="/ui.js?v=<%= v %>" type="text/javascript"></script>
  </body>
</html>
