@use "../../node_modules/normalize.css/normalize.css";

:root {
  --radius-standard: 999px;
  --blue: #1cb0f6;
  --gray: #888;
  --light-gray: #e5e5e5;

  --padding-standard: 30px;
  --logo-font-size: 35px;
  --logo-margin: 0px;
  --search-box-height: 50px;
  --search-box-padding-left: calc(var(--padding-standard) - 3px);
  --placeholder-opacity: 1;
  --sidebar-width: 250px;
  --engine-padding-left: 12px;
  --footer-display: initial;
}

@media (max-height: 700px), (max-width: 700px) {
  :root {
    --padding-standard: 5px;
    --logo-font-size: 31px;
    --logo-margin: -2px;
    --search-box-height: 40px;
    --search-box-padding-left: 15px;
    --placeholder-opacity: 0;
    --sidebar-width: 180px;
    --footer-display: none;
  }
}

@font-face {
  font-display: swap;
  font-family: Metasearch;
  font-style: normal;
  font-weight: 500;
  src: url(/normal.woff2) format('woff2');
}
@font-face {
  font-display: swap;
  font-family: Metasearch;
  font-style: normal;
  font-weight: 700;
  src: url(/bold.woff2) format('woff2');
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // Metasearch is mostly developed and tested using the proprietary font FF Din
  // Rounded. We specify Arial instead of (the typographically superior?)
  // Helvetica as the fallback because Din's height is closer to Arial's than to
  // Helvetica's. More consistent behavior across OSes is a secondary reason for
  // using web-safe Arial.
  font-family: Metasearch, Arial, sans-serif;
  outline: none;
}

::placeholder {
  color: var(--gray);
  opacity: var(--placeholder-opacity);
}

html {
  box-sizing: border-box;
  color: #3c3c3c;
  font-size: 15px;
}

hr {
  border: 1px solid var(--light-gray);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: var(--blue);
  text-decoration: none;
}

#root {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.logo {
  font-size: var(--logo-font-size);
  grid-area: 1 / 1 / 2 / 2;
  letter-spacing: -0.03em;
  margin-top: var(--logo-margin);
  padding: var(--padding-standard) var(--padding-standard) calc(var(--padding-standard) / 2) calc(var(--padding-standard) + 9px);
  text-transform: lowercase;
  user-select: none;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  padding: var(--padding-standard) var(--padding-standard) calc(var(--padding-standard) / 2) 0;
  white-space: nowrap;
}

.search-box {
  border: 2px solid var(--light-gray);
  border-radius: var(--radius-standard) 0 0 var(--radius-standard);
  border-right: 0;
  font-size: 1.2rem;
  height: var(--search-box-height);
  max-width: 600px;
  min-width: 120px;
  padding: 0 0 0 var(--search-box-padding-left);
  vertical-align: top;
  width: calc(100% - var(--search-box-height));
}

.submit {
  background: url(/favicon.png) no-repeat 10px center;
  background-size: 20px;
  border: 2px solid var(--light-gray);
  border-left: 0;
  border-radius: 0 var(--radius-standard) var(--radius-standard) 0;
  cursor: pointer;
  height: var(--search-box-height);
  padding: 0;
  vertical-align: top;
  width: var(--search-box-height);
}

.sidebar {
  grid-area: 2 / 1 / 3 / 2;
  overflow-y: auto;
  padding: 0 var(--padding-standard);
  user-select: none;

  ul {
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
  }

  li {
    color: var(--gray);
    flex-grow: 1;
    max-height: 37px;
    min-height: 24px;
    padding: 0 8px 0 var(--engine-padding-left);
  }

  .engine-wrap {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .has-results {
    border-radius: var(--radius-standard);
    color: inherit;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: #d4f1ff;
    }

    span {
      background: var(--blue);
    }
  }

  span {
    background: #d5d5d5;
    border-radius: 15px;
    color: white;
    float: right;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: -2px;
    padding: 3px 7px;
  }
}

.results {
  grid-area: 2 / 2 / 4 / 3;
  overflow-wrap: anywhere;
  overflow-y: auto;
  padding: 0 calc(2 * var(--padding-standard)) 0 var(--padding-standard);
  position: relative; // Simplifies programmatic adjustment of scroll position
}

.result-group {
  border-bottom: 2px solid var(--light-gray);
  margin-bottom: calc(var(--padding-standard) / 2);
  padding-bottom: calc(var(--padding-standard) / 2);
}

.result-group:last-child {
  border-bottom: 0;
}

h2 {
  display: inline-block;
}

.stats {
  color: var(--gray);
  margin-left: 15px;
}

.result {
  margin-bottom: var(--padding-standard);
}

.title {
  font-weight: bold;
}

.snippet {
  color: var(--gray);

  img {
    // Show checkered background for partially transparent images
    background-blend-mode: normal, difference, normal;
    background-image:
      linear-gradient(to right, rgba(224, 224, 224, 0.9), rgba(224, 224, 224, 0.9)),
      linear-gradient(to right, black 50%, white 50%),
      linear-gradient(to bottom, black 50%, white 50%);
    background-size: 20px 20px;

    margin: 5px 10px 0 0;
    max-height: 100px;
  }

  pre {
    white-space: pre-wrap;
  }
}

.footer {
  color: var(--gray);
  display: var(--footer-display);
  grid-area: 3 / 1 / 4 / 2;
  padding: var(--padding-standard) calc(var(--padding-standard) + var(--engine-padding-left));
}
