@use "../../node_modules/normalize.css/normalize.css";

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: none;
}

html {
  box-sizing: border-box;
}

#root {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  padding: 30px;
}

.header {
  grid-area: 1 / 1 / 2 / 2;
}

.sidebar {
  grid-area: 1 / 2 / 3 / 3;
}

.main {
  grid-area: 2 / 1 / 3 / 2;
}
