@use "../../node_modules/normalize.css/normalize.css";

$padding-standard: 30px;
$radius-standard: 999px;
$submit-button-width: 60px;
$blue: #1cb0f6;
$light-gray: #e5e5e5;
$gray: #888;
$sidebar-width: 250px;

@font-face {
  font-display: swap;
  font-family: Metasearch;
  font-style: normal;
  font-weight: 500;
  src: url(/normal.woff2) format('woff2');
}
@font-face {
  font-display: swap;
  font-family: Metasearch;
  font-style: normal;
  font-weight: 700;
  src: url(/bold.woff2) format('woff2');
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: Metasearch, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: none;
}

::placeholder {
  color: $gray;
  opacity: 1;
}

html {
  box-sizing: border-box;
  color: #3c3c3c;
  font-size: 15px;
}

hr {
  border: 1px solid $light-gray;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: $blue;
  text-decoration: none;
}

#root {
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.logo {
  font-size: 35px;
  grid-area: 1 / 1 / 2 / 2;
  letter-spacing: -0.03em;
  padding: $padding-standard $padding-standard ($padding-standard / 2) ($padding-standard + 9px);
  text-transform: lowercase;
  user-select: none;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  padding: $padding-standard $padding-standard ($padding-standard / 2) 0;
  white-space: nowrap;
}

.search-box {
  border: 2px solid $light-gray;
  border-radius: $radius-standard 0 0 $radius-standard;
  border-right: 0;
  font-size: 1.2rem;
  height: 50px;
  max-width: 600px;
  min-width: 200px;
  padding: 0 ($padding-standard - 3px);
  vertical-align: top;
  width: calc(100% - #{$submit-button-width});
}

.submit {
  background: $blue url(/search.svg) no-repeat 15px center;
  border: 0;
  border-radius: 0 $radius-standard $radius-standard 0;
  cursor: pointer;
  height: 50px;
  transition: 0.2s;
  vertical-align: top;
  width: $submit-button-width;

  &:hover {
    opacity: 0.7;
  }
}

.sidebar {
  grid-area: 2 / 1 / 3 / 2;
  overflow-y: auto;
  padding: 0 $padding-standard;
  user-select: none;

  li {
    color: $gray;
    padding: 8px 10px 8px 12px;
  }

  .has-results {
    border-radius: $radius-standard;
    color: inherit;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: #d4f1ff;
    }

    span {
      background: $blue;
    }
  }

  span {
    background: #ccc;
    border-radius: 15px;
    color: white;
    float: right;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: -2px;
    padding: 3px 7px;
  }
}

.results {
  grid-area: 2 / 2 / 3 / 3;
  overflow-wrap: anywhere;
  overflow-y: auto;
  padding: 0 (2 * $padding-standard) 0 $padding-standard;
  position: relative; // Simplifies programmatic adjustment of scroll position
}

.result-group {
  border-bottom: 2px solid $light-gray;
  margin-bottom: ($padding-standard / 2);
  padding-bottom: ($padding-standard / 2);
}

.result-group:last-child {
  border-bottom: 0;
}

h2 {
  display: inline-block;
}

.stats {
  color: $gray;
  margin-left: 0.5 * $padding-standard;
}

.result {
  margin-bottom: $padding-standard;
}

.title {
  font-weight: bold;
}

.snippet {
  color: $gray;

  img {
    // Show checkered background for partially transparent images
    background-blend-mode: normal, difference, normal;
    background-image:
      linear-gradient(to right, rgba(224, 224, 224, 0.9), rgba(224, 224, 224, 0.9)),
      linear-gradient(to right, black 50%, white 50%),
      linear-gradient(to bottom, black 50%, white 50%);
    background-size: 20px 20px;

    margin: 5px 10px 0 0;
    max-height: 100px;
  }

  pre {
    white-space: pre-wrap;
  }
}
